.latest-movies{
    flex-direction: row !important;
}

.latestMovieItem .card .card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}
.latestMovieItem:hover .card::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6) ;
    border-left: 4px solid rgb(201, 13, 13);
}

.latestMovieItem:hover .icons{
    display: block !important;
}

.icons a{
    width: 38px;
    height: 38px;
    text-decoration: none;
    background-color: white;
    color: white;
    font-size: 25px;
    padding: 10px 10px;
    margin-right: 5px;
    border-radius: 50%;
    border: 5px solid rgb(73, 73, 73);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
   
}
.icons a:hover{
    border: 2px solid salmon;
    transform: rotate(360deg);
    background-color: rgb(252, 16, 16);
}
.fab{
    font-size: 14px;
    color: rgb(252, 16, 16);
}
.fab:hover{
    color: white;
}
.plus-icon{
    margin-bottom: 9px;
}
.btn-style{
    background-color: rgb(201, 13, 13) !important;
    color: white !important;
    transition: all .3s ease;
}
.btn-style:hover{
    background-color: rgb(153, 14, 14) !important;
}

.card{
    overflow: hidden;
}
.card{
    transition: all .3s ease;
}
.card:hover{
    transform: scale(1.03);
}