#main-nav{
    background: rgba(20, 20, 20, 0.5) !important;
    backdrop-filter: blur(10px);
}
.navbar-brand{
    font-size: 1.7rem !important;
   
}
.navItem{
    text-transform: uppercase;
}
.nav-link{
    font-size: 18px;
    color: #dad8d8 !important;
}
/* .topnav {
    box-shadow: 0 2px 4px 0 rgb(180, 178, 178);
  } */